<ion-content>
  <ion-card>
    <img src="/assets/wallpaper/fondo-login.jpg" alt="">
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>

    <ion-card-content [formGroup]="loginForm">
      <ion-item>
        <ion-input formControlName="email" [(ngModel)]="emailValue" type="email" label="Correo" labelPlacement="floating" placeholder="ejemplp@gmail.cl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="pass" [(ngModel)]="passValue" type="password" label="Contraseña" labelPlacement="floating" placeholder="********">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <div class="btns">
        <ion-button color="dark" fill="solid" shape="round" (click)="login()">Ingresar</ion-button>
        <ion-button color="dark" fill="solid" shape="round" routerLink="/resetpass" >recuperar</ion-button>
      </div>
      <br>
      <ion-button color="dark" fill="solid" shape="round" (click)="createRandomUsers() " id="open-toast" expand="block">Crear Cuentas</ion-button>
      <ion-toast trigger="open-toast" message="Por favor espera mientras se crean 10 usuarios." [duration]="20000"></ion-toast>
      <br>
      <br>
      <div class="tag-2">
        <span>No tienes una cuenta?</span><button routerLink="/registro">Registrate</button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
