.barcode-scanning-modal {
  --background: transparent !important;
  background: transparent !important;
  
  ion-content {
    --background: transparent !important;
  }
  
  ion-toolbar {
    --background: transparent !important;
  }
}

// Modificar la regla para el body
body.barcode-scanning-active {
  visibility: hidden;
  opacity: 0;
  
  .barcode-scanning-modal {
    visibility: visible;
    opacity: 1;
  }
}