.barcode-scanning-modal {
  --background: transparent !important;
  background: transparent !important;
  
  ion-content {
    --background: transparent !important;
  }
  
  ion-toolbar {
    --background: transparent !important;
  }

  &::part(content),
  &::part(backdrop) {
    background: transparent !important;
  }

  .modal-wrapper {
    background: transparent !important;
  }

  ion-backdrop {
    background: transparent !important;
  }
}

:host ::ng-deep .modal-wrapper {
  background: transparent !important;
}

:host ::ng-deep ion-modal {
  --background: transparent !important;
  --ion-background-color: transparent !important;
}
