<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pasajero-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar Viaje</ion-title>
    <ion-buttons>
      <ion-button slot="end" (click)="openCamera()" fill="clear">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
        Scanear
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment" (ionChange)="cambiarSegmento($event)">
    <ion-segment-button value="disponibles">
      Disponibles
    </ion-segment-button>
    <ion-segment-button value="noDisponibles">
      No Disponibles
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let viaje of viajesFiltrados" button (click)="mostrarDetalles(viaje)" lines="full">
      <ion-label>
        <h2>{{ viaje.direccionDestino }}</h2>
        <p>Desde: {{ viaje.direccionActual }}</p>
        <p>Asientos Disponibles: {{ viaje.cantidadPasajeros }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  
  
</ion-content>

