.barcode-scanning-modal {
  --background: transparent !important;
  background: transparent !important;
  
  ion-content {
    --background: transparent !important;
  }
  
  ion-toolbar {
    --background: transparent !important;
  }

  &::part(content) {
    background: transparent !important;
  }

  .modal-wrapper {
    background: transparent !important;
  }

  ion-backdrop {
    background: transparent !important;
  }
}

// Modificar la regla para el body
body.barcode-scanning-active {
  visibility: hidden !important;
  opacity: 0 !important;
  background: transparent !important;
  
  .barcode-scanning-modal {
    visibility: visible !important;
    opacity: 1 !important;
    background: transparent !important;
  }
}

:host ::ng-deep .modal-wrapper {
  background: transparent !important;
}

:host ::ng-deep ion-modal {
  --background: transparent !important;
  --ion-background-color: transparent !important;
}