<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="loguear"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background-color: #F5F5F5;">
  <form #resetForm="ngForm" (ngSubmit)="recoveryEmail()">
    <ion-item>
      <ion-input 
        label="Correo" 
        labelPlacement="stacked" 
        type="email" 
        name="email"
        [(ngModel)]="email" 
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        placeholder="Ingresa tu Correo">
      </ion-input>
    </ion-item>

    <div class="btns">
      <ion-button 
        type="submit" 
        color="dark" 
        [disabled]="!resetForm.valid || isLoading">
        {{ isLoading ? 'Enviando...' : 'Enviar' }}
      </ion-button>
    </div>
  </form>
</ion-content>