body.barcode-scanning-active {
  --background: transparent;
  background: transparent;
  visibility: visible !important;

  ion-modal.barcode-scanning-modal {
    --background: transparent;
    --ion-background-color: transparent;
    
    &::part(content) {
      --background: transparent;
      background: transparent;
    }
  }

  ion-content,
  ion-toolbar {
    --background: transparent !important;
    background: transparent !important;
  }
}
