<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="usuario">
    <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
    <p>Email: {{ usuario.email }}</p>
    <p>Tipo de usuario: {{ usuario.tipo }}</p>

    
    <ion-item>
      <ion-label>Estado de la cuenta</ion-label>
      <ion-select [(ngModel)]="usuario.estadoCuenta" (ionChange)="toggleUsuarioActivo(usuario.email, usuario.estadoCuenta)">
        <ion-select-option [value]="true">Activo</ion-select-option>
        <ion-select-option [value]="false">Desactivado</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-button expand="block" (click)="editarUsuario(usuario)">Editar Usuario</ion-button>
  </div>
  
  <div *ngIf="!usuario">
    <p>No se encontró información del usuario.</p>
  </div>
</ion-content>


