<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <!-- ... existing code ... -->
  <div class="profile-image-container">
    <ion-avatar (click)="seleccionarFoto()">
      <img [src]="usuario?.foto || 'assets/avatar-default.svg'" alt="Foto de perfil"/>
    </ion-avatar>
    <ion-button fill="clear" size="small" (click)="seleccionarFoto()">
      <ion-icon name="camera-outline"></ion-icon>
      Cambiar foto
    </ion-button>
  </div>
  <!-- ... rest of profile content ... -->
</ion-content>
