<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pasajero-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Ver Viaje</ion-title>
    <ion-button slot="end" (click)="openCamera()" fill="clear">
      <ion-icon name="camera" slot="icon-only"></ion-icon>
      Pagar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Aquí puedes mostrar los detalles del viaje -->
      <p>ID del viaje: {{ viajeId }}</p>
      <!-- Otros detalles del viaje -->
    </ion-card-content>
  </ion-card>

  <ion-button color="danger" (click)="cancelarReserva()">
    <ion-icon name="exit"></ion-icon>
    Cancelar Viaje
  </ion-button>
</ion-content>